name: Ci

on:
  push:
    branches:
      - main  # Change this to your repository's main branch

jobs:
  deploy:
    runs-on: ubuntu-latest  # Use the latest version of Ubuntu as the runner

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'  # Choose your desired Python version

    - name: Install Ansible
      run: pip install ansible

    - name: Run Ansible playbook
      run: ansible-playbook /infra/ansible/pipeline.yml --extra-vars "local_directory=${{ github.workspace }}" 
